# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 992713a7159f61702f6e8d4848a7fa576ac2ea7fd0a3a41a481ece906c8c665124e7815854bbe067ba9007c525546482713c23b94afd8d7c145f4732366eabfc

test:
  secret_key_base: b6dabbb77224e2d096b49d230791e7f8520978cb67c59994946f0212f5a301f8c09e3f5713f372004640e2d46a3989673f240b11157556b4edfa895c32c72f00

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
